In [ ]:
import os,sys
from sklearn.metrics import r2_score
sys.path.append(os.path.abspath(os.path.join('..', 'utils'))
from db_postgres import *

In [3]:
df_all_data = get_all_data()
df_all_data.head()

2024-11-12 17:03:56,903 - INFO - Connected to PostgreSQL

2024-11-12 17:03:56,916 - INFO - Data fetched successfully

,id,gdp_per_capita,life_expectancy,freedom,perceptions_corruption,continent_numeric,happiness_prediction,happiness_score
0,1,1.233748,0.706156,0.550027,0.070984,1,6.260365,6.452
1,2,0.474000,0.598000,0.292000,0.034000,4,4.980093,5.199
2,3,1.217560,0.719217,0.579392,0.178062,1,6.182717,6.454
3,4,1.268000,0.876000,0.669000,0.389000,3,6.183863,7.324
4,5,1.529000,1.008000,0.631000,0.457000,4,6.491257,6.343

In [ ]:
# Extract the true and predicted values
y_true = df_all_data['happiness_score']
y_pred = df_all_data['happiness_prediction']

# Calculate the R^2 score
r2 = r2_score(y_true, y_pred)
print(f"The coefficient of determination (RÂ²) is: {r2}")