In [13]:
import os, sys
from sklearn.metrics import r2_score
sys.path.append(os.path.abspath(os.path.join('..', 'utils')))
from db_postgres import *

In [14]:
df_all_data = get_all_data()
df_all_data.head(10)

2024-11-14 13:21:12,713 - INFO - ✔ Connected to PostgreSQL
2024-11-14 13:21:12,720 - INFO - ✔ Data fetched successfully

,id,gdp_per_capita,life_expectancy,freedom,perceptions_corruption,continent_numeric,country_numeric,happiness_prediction,happiness_score
0,1,0.26800,0.24200,0.30900,0.04500,0,121,4.122400,4.374
1,2,1.03437,0.64580,0.15718,0.04339,3,120,4.806415,5.177
2,3,1.48800,1.02800,0.60300,0.34100,3,42,7.381862,7.554
3,4,0.75100,0.50800,0.60600,0.05400,1,59,6.012668,5.752
4,5,1.42539,0.81959,0.51354,0.26248,3,35,6.525726,6.929
5,6,0.77600,0.70600,0.51100,0.06400,1,59,5.836145,5.779
6,7,1.47400,0.67500,0.55400,0.10600,2,146,6.311697,6.083
7,8,1.48953,0.59267,0.37904,0.30008,2,43,6.295608,6.379
8,9,1.26800,0.87600,0.66900,0.38900,4,54,7.226254,7.324
9,10,0.37800,0.24000,0.44000,0.06700,0,68,3.693239,4.141

In [15]:
# Extract the true and predicted values
y_true = df_all_data['happiness_score']
y_pred = df_all_data['happiness_prediction']

# Calculate the R^2 score
r2 = r2_score(y_true, y_pred)
print(f"The coef of determination, (R^2) is: {r2}")

The coef of determination, (R^2) is: 0.9082376071081864